<meta charset="utf-8">
{% extends 'mygis/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>Про нас</h1>
        <div>
           <p>Над проектом працювали Кравченко Евгенія та Пилипенко Олена. Студентки 3 курсу групи геоінформатика КНУ ім Тараса Шевченка
           ННІ "Інститут геології".</p>

            <table  width = "100%" >
				 <tr>
				   <td width = "50%" align="center" valign="middle"><img src="https://pp.vk.me/c636619/v636619319/a711/CqIHtxAwgcA.jpg" width="180" height="255" alt="Пилипенко Олена"></td>
				   <td width ="50%" align="center" valign="middle"><img src="https://pp.vk.me/c617517/v617517259/1c123/DrnBZc5PB58.jpg" width="180" height="255" alt="Кравченко Евгенія"></td>
				 </tr>
				 <tr>
				   <td width ="50%" align="center" valign="middle">
                       <p>Пилипенко Олена</p>
                       <p>Працювала над функціями для альбедо та температурних карт, оформлення сайту.</p>
                   </td>
				   <td width ="50%" align="center" valign="middle">
                       <p>Кравченко Євгенія</p>
                       <p>
                           Працювала над створенням класу обробки растрів.
                       </p>
                   </td>
				 </tr>
            </table>
        </div>

{% endblock %}
